<%- include('partials/navbar.ejs') %>
<link rel="preconnect" href="https://fonts.googleapis.com" />

<link rel="stylesheet" href="/style.css" />
<body>
  <!-- // top left skewed header design  -->
  <!-- skewed background -->
  <script src="https://gaidadei.ru/easycanvas/easyc.js"></script>
  <!-- google fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
    rel="stylesheet"
  />

  <br />
  <div class="out" style="padding-top: 110px;">About</div>
  <div class="box div">
    <img class="biopic" src="balcony.JPG" alt="Picture of Ben Tims" />
    <p class="about">
      <br />
      My name is Ben Tims and I am a full stack software engineer based out of
      Denver Colorado. I got into programming in 2020, starting with self-taught
      online courses, then gradually making the move to joining a bootcamp. I
      have 8 years of experience of Apple technical support where I mastered
      both iOS and MacOS software. I spent 7 years of my time in the company
      working in learning and devolvement where I felt it my passion to teach
      others. After years of teaching technical content to advisors, I couldn't
      take it anymore and had to know how all of this works under the hood. Now
      here I am.
      <br />
    </p>
  </div>
</body>
