<%- include('partials/navbar.ejs') %>
<link rel='stylesheet' href='/style.css' />
<body>
  <!-- // top left skewed header design  -->
  <!-- skewed background -->
<script src="https://gaidadei.ru/easycanvas/easyc.js"></script> 
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">


<div class="out">Randomness!</div>
  </main>
  <div class="row">
    <% data.forEach(data => { %>
      <img src=  <%= data %> />
      <% }); %>


      

  </div>