<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>
<link rel='stylesheet' href='/style.css' />
<body>
  <!-- // top left skewed header design  -->
  <!-- skewed background -->
<script src="https://gaidadei.ru/easycanvas/easyc.js"></script> 
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

  
<div id="main-search">
  <form action="/search" method="get"> 
    <input type="text" name="search"> 
    <button id="btnSearch">Go</button> 
  </div>
  <div class="out">Randomness</div>
    </form>
  </main>
    <% data.data.forEach(element => { %>
      <img src=  <%= element %> />
    <% }); %>

