<%- include('partials/navbar.ejs') %>
<link rel='stylesheet' href='/style.css' />
<body>
  <!-- //google fonts// -->
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet"> 

<!-- //h1 is clickable taking you back to homepage// -->
<a href="/"></a>
  <!-- // search bar div // -->
  <div id="main-search">
    <!-- // search form with get method // -->
      <!-- // input field // -->
      <input type="text" name="search"> 
      <!-- // search/go button // -->
      <button id="btnSearch">Go</button> 
    </div>
    <div class="out" style="padding-top: 90px;">Search Results</div>
    </form>
  </main>
  <!-- // main row where gifs and all it's data are rendered on page// -->
  <div class="row"> 
    <!-- // where the data from API is being displayed from server.js // -->
    <% data.forEach(element => { %> 
      <img src=  <%= element %> /> 
    <% }); %>
    

